<main>
  <div class="search">
    <input type="text" placeholder="Buscar casas en alquiler" />
    <button type="submit">Buscar</button>
  </div>
  <ul class="houses">
    <li>
      <img src="../assets/house1.png" alt="Casa en alquiler 1" />
      <h2>Casa en alquiler 1</h2>
      <p class="price">$1,000 por mes</p>
      <p class="zone">Zona: Norte</p>
      <p class="category">Categoría: Casa</p>
    </li>
    <li>
      <img src="../assets/house2.png" alt="Casa en alquiler 2" />
      <h2>Casa en alquiler 2</h2>
      <p class="price">$1,500 por mes</p>
      <p class="zone">Zona: Este</p>
      <p class="category">Categoría: Casa</p>
    </li>
    <li>
      <img src="../assets/house3.png" alt="Apartamento en alquiler 1" />
      <h2>Apartamento en alquiler 1</h2>
      <p class="price">$800 por mes</p>
      <p class="zone">Zona: Centro</p>
      <p class="category">Categoría: Apartamento</p>
    </li>
    <li>
      <img src="../assets/house4.jpg" alt="Apartamento en alquiler 2" />
      <h2>Apartamento en alquiler 2</h2>
      <p class="price">$1,200 por mes</p>
      <p class="zone">Zona: Oeste</p>
      <p class="category">Categoría: Apartamento</p>
    </li>
  </ul>
</main>
